@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Raleway:wght@300&display=swap');

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }

nav {
    background: #0db196f1; 
    padding: 10px;  
    color: #ffffff; 
    font-size: larger;

}

.navigation {
    display: flex;
    justify-content: left;
   
}

.pagetitle {
    background-image: url('..//images/wallpaperflare.com_wallpaper.jpg');
    background-size: 180%;
    background-repeat: no-repeat;
    padding-top: 400px;
    padding-bottom: 400px;
    margin: auto;
    color: #e4d6d6;
    font-size: 65px;
}

.home, .bios, .gear {
    border-right: 1px solid #c9cbd0; 
    padding-left: 10px;
    padding-right: 10px;

}

.header {
    padding: 20px;
    background:#000000 ;
    color: #ffffff;
    display: flex;
    justify-content: space-between;

}

nav a {
    color: #ffffff;
    text-decoration: none;
}


#headertitle {
    margin-left: auto;
    margin-top: auto;
    font-size: larger;
}

h1 {
    margin-top: 100px;
    margin-bottom: 50px;
}
    
h1, h2, h3 {
    text-align: center;
    }

p, hr, header {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 16px  
}

p {
    margin-top: 50px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 60%;

  }

hr {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1.5px solid;
    }

.footer {
    background: #0db196f1; 
    padding: 100px;
}
 
.hidden {
    opacity: 0;
    transition: all 1s;
  }

.show {
    opacity: 1;
}



.hiddenbioLeft {
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-100%);
    transition: all 1s;
  }

.showbioLeft {
    opacity: 1;
    filter:blur(0);
    transform:translateX(0)
}

.hiddenbioRight {
    opacity: 0;
    filter: blur(3px);
    transform: translateX(100%);
    transition: all 1s;
  }

.showbioRight {
    opacity: 1;
    filter:blur(0);
    transform:translateX(0)
}

.hiddenbackground {
    filter: blur(8px);
    transition: all 0.5s;
  }

.showbackground {
    filter:blur(0);
}





#jguitar {
    padding-top: 100px;
}

.left {
    float: left;
    padding: 100px;
    padding-bottom: 50px;
    max-width: 20%;
    max-height: 20%;
    min-width: 300px;
}

.right {
    float: right;
    padding: 100px;
    padding-bottom: 50px;
    max-width: 20%;
    max-height: 20%;
    min-width: 300px;

}

.biotitle {
    background-image: url('../images/guitar-color-black-amp-close-up-electronics-616931-pxhere.com.jpg');
    background-size: 125%;
    background-repeat: no-repeat;
    padding-top: 400px;
    padding-bottom: 400px;
    margin: auto;
    color: #e4d6d6;
    font-size: 65px;
}

.hometitle {
    background-image: url('../images/pexels-pixabay-417451.jpg');
    background-size: 150%;
    background-repeat: no-repeat;
    padding-top: 400px;
    padding-bottom: 400px;
    margin: auto;
    color: #e4d6d6;
    font-size: 65px;
}

.clearfloat {clear:both;}

#homeheader {
    padding-top: 50px;
}

.biopar {
    padding-top: 100px;
}